html, body {
    height: 100%;
}

.underlined {
    position: relative;
    margin-bottom: 16px;;
}

.underlined::after {
    content: "";

    width: 100%;
    height: 1px;

    background: #000;

    position: absolute;
    bottom: -4px;
    left: 0;
}
